<% include ./layout/header.ejs %>
<div class="container">
    <form class="form-signin">
      <input type="text" id="generateToken" class="form-control" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div> <!-- /container -->
<% include ./layout/footer.ejs %>
