<% include ./layout/header.ejs %>
<div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Admin Login</h2>
      <div style="display:none;" id="msg-alert" class="alert alert-danger" role="alert">
        </div>
      <label for="inputEmail">Email address</label>
      <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <br/>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" id="btnAdminLogin" type="button">Sign in</button>
    </form>
  </div> <!-- /container -->
  <script type="text/javascript">
     $(document).ready(function () {
        $("#btnAdminLogin").click(function () {
          debugger
            var email = $("#email").val();
            var password = $("#password").val();

             var req = $.ajax({
              url: '/admin/authenticate',
              type: "PUT",
              dataType: "json",
              data: JSON.stringify({email: email, password: password}),
              contentType: 'application/json; charset=utf-8',
              success: function (result) {
                console.log(result)
                localStorage.setItem('token', result.token);
                location.replace('/admin/dashboard');
              },
              error: function (xhr, textStatus, errorThrown) {
                if (console) {
                  console.log(xhr);
                }
                $("#msg-alert").css('display', 'block').html(xhr.responseJSON.message)
              }
            }); //req
        });
     });
  </script>
<% include ./layout/footer.ejs %>
