<% include ./layout/header.ejs %>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/admin">Admin Login Page</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
<div class="container">
    <form id="reg-form" class="form-signin cg-middle">
            <div style="display:none;" id="msg-alert-reg" class="alert alert-danger" role="alert">
                </div>
        <div class="form-group">
                <input type="hidden" id="agent" value='<%= agent %>' />
                <label>Provide Token for Login</label>
                <input type="text" id="token" class="form-control" />
        </div>
      <button type="button" id="btnUserLogin" class="btn btn-lg btn-primary btn-block">Click Here to Login</button>
    </form>
  </div> <!-- /container -->
  <script type="text/javascript">
    $(document).ready(function () {
      var count = 0;
        $("#btnUserLogin").click(function () {
            
            count += 1;
            var token= $("#token").val();
            var agent = $("#agent").val();

            if(token == "") {
                $("#msg-alert-reg").css('display', 'block').html("password mismatched!");
                return false;
            }

             var req = $.ajax({
              url: '/user/auth',
              type: "POST",
              dataType: "json",
              data: JSON.stringify({ count: count, token: token, agent: agent}),
              contentType: 'application/json; charset=utf-8',
              success: function (result) {
                console.log(result)
                $("#msg-alert-reg").css('display', 'block').removeClass('alert-danger')
                .addClass('alert-success').html(result.message);
                location.replace('/user/dashboard');
              },
              error: function (xhr, textStatus, errorThrown) {
                if (console) {
                  console.log(xhr);
                }
                $("#msg-alert-reg").css('display', 'block').removeClass('alert-success')
                .addClass('alert-danger').html(xhr.responseJSON.message);
              }
            }); //req
        });
    });
  </script>
<% include ./layout/footer.ejs %>
